//color
$color-primary: #777;
$color-scondary: #58e1c1;

$white: #fff;
$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

//media query  breakpoint
$tablet: 768px;
